/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .module-page {

    .main-page {
      margin-bottom: 50px;
      background: transparent;

      .flex-main-page {
        width: 100%;
        height: auto;
        min-height: 80vh;

        .name {
          display: flex;
          font-size: 50px;
          font-weight: bold;
        }

        .position {
          display: flex;
          font-size: 20px;
        }

      }

    }

    .overview-page {
      margin-bottom: 50px;
      background: transparent;

      .flex-overview-page {
        width: 100%;
        height: auto;
        min-height: 80vh;

        .introduction {
          display: flex;
          font-size: 20px;
        }

        .overview {
          display: flex;
          font-size: 30px;
          font-weight: bold;
        }

        .overview-description {
          font-size: 18px;
          line-height: 22px;
          width: 100%;
        }

        .overview-description-1 {
          font-size: 16px;
          line-height: 22px;
          width: 100%;
          margin-bottom: 50px;
        }

        .overview-infocard {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          width: 100%;
        }
        
      }

    }

    .technology-page {
      margin-bottom: 50px;
      background: transparent;

      .flex-technology-page {
        width: 100%;
        height: auto;
        min-height: 80vh;

        .my-skills {
          display: flex;
          font-size: 20px;
        }

        .technology {
          display: flex;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 35px;
        }

        .technology-infocard {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          width: 100%;
        }
        
      }

    }

    .project-page {
      margin-bottom: 50px;
      background: transparent;

      .flex-project-page {
        width: 100%;
        height: auto;
        min-height: 80vh;

        .project {
          display: flex;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 35px;
        }

        .project-infocard {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          width: 100%;
        }
        
      }

    }

    .work-experience-page {
      margin-bottom: 50px;
      background: transparent;

      .flex-work-experience-page {
        width: 100%;
        height: auto;
        min-height: 80vh;

        .work-experience {
          display: flex;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 35px;
        }

        .work-experience-infocard {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          width: 100%;
        }
        
      }

    }

    .footer-page {
      margin-bottom: 50px;
      background: transparent;

      .flex-footer-page {
        width: 100%;
        height: auto;
        min-height: 80vh;

        .footer {
          display: flex;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 35px;
        }

        .footer-infocard {
          display: flex;
          gap: 16px;
        }
        
      }

    }

  }
  
}