/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  .module-page {

    .main-page {
      margin-bottom: 50px;
      background: transparent;

      .name {
        display: flex;
        font-size: 20px;
        font-weight: bold;
      }

      .position {
        display: flex;
        font-size: 14px;
      }

    }

    .overview-page {
      margin-bottom: 50px;
      background: transparent;

      .introduction {
        display: flex;
        font-size: 12px;
      }

      .overview {
        display: flex;
        font-size: 16px;
        font-weight: bold;
      }

      .overview-description {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
      }

      .overview-description-1 {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        margin-bottom: 50px;
      }

      .overview-infocard {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
      }

    }

    .technology-page {
      margin-bottom: 50px;
      background: transparent;

      .my-skills {
        display: flex;
        font-size: 12px;
      }

      .technology {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 35px;
      }

      .technology-infocard {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
      }
        
    }

    .project-page {
      margin-bottom: 50px;
      background: transparent;

      .project {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 35px;
      }

      .project-infocard {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
      }
      
    }

    .work-experience-page {
      margin-bottom: 50px;
      background: transparent;

      .work-experience {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 35px;
      }

      .work-experience-infocard {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
      }

    }

    .footer-page {
      margin-bottom: 50px;
      background: transparent;

      .footer {
        display: flex;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 35px;
      }

      .footer-infocard {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
      
    }

  }
  
}