/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  .infocard-overview-page {
    border-radius: 5px;
    padding: 9px 9px;
    min-width: 25% auto;

    .group-overview-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .overview-image {
        width: 40px;
        height: 40px;
        background-size: 100%;
        padding: 8px 6px;
      }
      
      .overview-title {
        font-size:0px;
      }

    }

  }

  .infocard-technology-page {
    border-radius: 5px;
    padding: 9px 9px;
    min-width: 25% auto;

    .group-technology-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .technology-image {
        width: 40px;
        height: 40px;
        background-size: 100%;
        padding: 8px 6px;
      }
      
      .technology-title {
        font-size:0px;
      }

    }

  }
      
  .infocard-project-page {
    border-radius: 8px;
    line-height: 22px;
    padding: 16px 19px;
    min-width: 220px;
    flex: 1px;

    .group-project-page {
      display: flex;
      gap: 8px;
      align-items: center;

      .project-image {
        width: 80px;
        height: 80px;
        line-height: 22px;
        background-size: 100%;
        padding: 8px 16px 16px 12px;
      }

      .project-title {
        font-size: 14px;
        padding-bottom: 8px;
      }

    }

    .project-image-1 {
      display: flex;
      background-repeat: no-repeat;
      background-size: 27px auto;
      margin-bottom: 32;
    }

    .project-description {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 22px;
      margin-top: 8px;
    }
      
  }

  .infocard-work-experience-page {
    border-radius: 8px;
    line-height: 22px;
    padding: 16px 14px;
    min-width: 220px;
    flex: 1px;

    .group-work-experience-page {
      display: flex;
      gap: 15px;
      align-items: center;
      
      .work-experience-image {
        width: 80px;
        height: 80px;
        line-height: 22px;
        background-size: 100%;
        padding: 8px 8px;
      }

      .work-experience-title {
        font-size: 14px;
        padding-bottom: 8px;
        margin-top: 10px;

        .work-experience-date {
          font-size: 10px;
          text-align: justify;
          line-height: 28px;
          margin-bottom: 8px;
        }

      }

    }

  }

  .infocard-footer-page {
    border-radius: 5px;
    min-width: 220px;

    .group-footer-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .footer-image {
        width: 30px;
        height: 30px;
        background-size: 100%;
        padding: 2px 6px;
      }

      .footer-title {
        font-size: 10px;
      }

    }

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .infocard-overview-page {
    border-radius: 5px;
    padding: 9px 9px;
    min-width: 25% auto;

    .group-overview-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .overview-image {
        width: 40px;
        height: 40px;
        background-size: 100%;
        padding: 8px 6px;
      }

      .overview-title {
        font-size:0px;
      }

    }
  
  }

  .infocard-technology-page {
    border-radius: 5px;
    padding: 9px 9px;
    min-width: 25% auto;

    .group-technology-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .technology-image {
        width: 40px;
        height: 40px;
        background-size: 100%;
        padding: 8px 6px;
      }

      .technology-title {
        font-size:0px;
      }

    }
  
  }
      
  .infocard-project-page {
    border-radius: 8px;
    line-height: 22px;
    padding: 16px 19px;
    min-width: 220px;
    flex: 1px;

    .group-project-page {
      display: flex;
      gap: 8px;
      align-items: center;

      .project-image {
        width: 80px;
        height: 80px;
        line-height: 22px;
        background-size: 100%;
        padding: 8px 16px 16px 12px;
      }

      .project-title {
        font-size: 14px;
        padding-bottom: 8px;
      }

    }

    .project-image-1 {
      display: flex;
      background-repeat: no-repeat;
      background-size: 27px auto;
      margin-bottom: 32;
    }

    .project-description {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 22px;
      margin-top: 8px;
    }
      
  }

  .infocard-work-experience-page {
    border-radius: 8px;
    line-height: 22px;
    padding: 16px 14px;
    min-width: 220px;
    flex: 1px;

    .group-work-experience-page {
      display: flex;
      gap: 15px;
      align-items: center;
      
      .work-experience-image {
        width: 80px;
        height: 80px;
        line-height: 22px;
        background-size: 100%;
        padding: 8px 8px;
      }

      .work-experience-title {
        font-size: 14px;
        padding-bottom: 8px;
        margin-top: 10px;

        .work-experience-date {
          font-size: 10px;
          text-align: justify;
          line-height: 28px;
          margin-bottom: 8px;
        }

      }

    }

  }

  .infocard-footer-page {
    border-radius: 5px;
    min-width: auto;
    width: 25% auto;

    .group-footer-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .footer-image {
        width: 30px;
        height: 30px;
        background-size: 100%;
        padding: 2px 6px;
      }

      .footer-title {
        font-size: 0px;
      }

    }

  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .infocard-overview-page {
    border-radius: 5px;
    padding: 16px 19px;
    min-width: 220px;
    flex: 1px;
    line-height: 22px;

    .group-overview-page {
      display: flex;
      align-items: center;
      gap: 10px;

      .overview-image {
        width: 70px;
        height: 70px;
        background-size: 100%;
        padding: 15px 16px;
      }

      .overview-title {
        font-size: 16px;
      }

    }
      
  }

  .infocard-technology-page {
    border-radius: 5px;
    padding: 16px 19px;
    min-width: 220px;
    flex: 1px;
    line-height: 22px;

    .group-technology-page {
      display: flex;
      align-items: center;
      gap: 10px;

      .technology-image {
        width: 70px;
        height: 70px;
        background-size: 100%;
        padding: 15px 16px;
      }

      .technology-title {
        font-size: 16px;
      }

    }
      
  }
      
  .infocard-project-page {
    border-radius: 8px;
    line-height: 22px;
    padding: 16px 19px;
    min-width: 220px;
    flex: 1px;

    .group-project-page {
      display: flex;
      gap: 8px;
      align-items: center;

      .project-image {
        width: 80px;
        height: 80px;
        line-height: 22px;
        background-size: 100%;
        padding: 8px 16px 16px 12px;
      }

      .project-title {
        font-size: 16px;
        padding-bottom: 8px;
      }

    }

    .project-image-1 {
      display: flex;
      background-repeat: no-repeat;
      background-size: 27px auto;
      margin-bottom: 32;
    }

    .project-description {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      margin-top: 8px;
    }
      
  }

  .infocard-work-experience-page {
    border-radius: 8px;
    line-height: 22px;
    padding: 16px 14px;
    min-width: 220px;
    flex: 1px;

    .group-work-experience-page {
      display: flex;
      gap: 15px;
      align-items: center;
      
      .work-experience-image {
        width: 80px;
        height: 80px;
        line-height: 22px;
        background-size: 100%;
        padding: 8px 8px;
      }

      .work-experience-title {
        font-size: 16px;
        padding-bottom: 8px;
        margin-top: 15px;

        .work-experience-date {
          font-size: 12px;
          text-align: justify;
          line-height: 28px;
          margin-bottom: 8px;
        }

      }

    }

  }

  .infocard-footer-page {
    border-radius: 5px;
    min-width: 25% auto;

    .group-footer-page {
      display: flex;
      align-items: center;
      gap: 0px;

      .footer-image {
        width: 30px;
        height: 30px;
        background-size: 100%;
        padding: 2px 6px;
      }

      .footer-title {
        font-size: 0px;
      }

    }

  }
  
}